# Google Gemini API Key
GEMINI_API_KEY=AQ.Ab8RN6KPJF4uyQmMQaf-rt7q9rh7tKrsAvyuAAVeUWekJz9w7A

# Groq API Key
GROQ_API_KEY=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

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://pranaveshnandakumar_db_user:Pranavesh2006@cluster0.ygkxr3q.mongodb.net/Sikkanam_db?retryWrites=true&w=majority

# Supabase Configuration
SUPABASE_URL=https://vsiifklkeslkdayrhfmn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_44vL2aRQOWhNLee5Bk6L8A_ZFUzAJpC
VITE_SUPABASE_URL=https://vsiifklkeslkdayrhfmn.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4c6KaOr-OhqYK3KBPhbsRw_L-jnjfuV

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDqNcgbWhAEWBH809MuAUr2HH0coh_Lt5U
VITE_FIREBASE_AUTH_DOMAIN=sikkanam-14c34.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sikkanam-14c34
VITE_FIREBASE_STORAGE_BUCKET=sikkanam-14c34.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1033227667075
VITE_FIREBASE_APP_ID=1:1033227667075:web:594ca9c91d4ceb5b807db6
VITE_FIREBASE_MEASUREMENT_ID=G-HWYEZD2XHR

# Google OAuth Credentials
GOOGLE_CLIENT_ID=134222396882-q2ba5fgbqf8mb6psni6cm3skjanvo8g0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3000/api/auth/callback

# JWT Token Secret (Generated)
JWT_SECRET=bc2b6fce7c3b24f5a34e0821d3f3f0be7126eb734a7ad9e557df63bb2ee3e2c6
